<div class="post">
    <div class="header">
        <h1>Post title</h1>
        
        <button routerLink="/" class="btn btn-link">Home page</button>
    </div>
    
    <div class="info">
        <strong>The author</strong>
        <small>14.02.2023</small>
    </div>
    
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste, tempore delectus suscipit quasi nostrum harum quod, necessitatibus accusantium, dolore praesentium quis. Nostrum, maxime blanditiis aspernatur quis, voluptates magnam et at laborum aliquam quo ipsum eius ducimus ut. Atque non molestiae deleniti a. Ea est nemo eos provident, facere quas?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste, tempore delectus suscipit quasi nostrum harum quod, necessitatibus accusantium, dolore praesentium quis. Nostrum, maxime blanditiis aspernatur quis, voluptates magnam et at laborum aliquam quo ipsum eius ducimus ut. Atque non molestiae deleniti a. Ea est nemo eos provident, facere quas?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste, tempore delectus suscipit quasi nostrum harum quod, necessitatibus accusantium, dolore praesentium quis. Nostrum, maxime blanditiis aspernatur quis, voluptates magnam et at laborum aliquam quo ipsum eius ducimus ut. Atque non molestiae deleniti a. Ea est nemo eos provident, facere quas?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste, tempore delectus suscipit quasi nostrum harum quod, necessitatibus accusantium, dolore praesentium quis. Nostrum, maxime blanditiis aspernatur quis, voluptates magnam et at laborum aliquam quo ipsum eius ducimus ut. Atque non molestiae deleniti a. Ea est nemo eos provident, facere quas?</p>
    </div>
</div>
